body{
    margin: 0;
    font-family: 'Rubik';
    overflow-x:hidden;
}

p{
    margin: 0;
}

.main__search-box--img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(1.3);
}

.main__search-box--img__night{
    animation: decrease-brightness;
    animation-duration: 4s;
    filter: brightness(0.3);
}

.main__search-box--img__day{
    animation: increase-brightness;
    animation-duration: 4s;
    filter: brightness(1.3);
}

@keyframes increase-brightness {
    from {filter: brightness(0.3);}
    to {filter: brightness(1.3);}
  }
@keyframes decrease-brightness {
    from {filter: brightness(1.3);}
    to {filter: brightness(0.3);}
  }

.main__search-box--container{
    max-width: 800px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: fit-content;
}

.main__search-box--input{
    border-radius: 40px;
    height: 60px;
    font-size: 2rem;
    padding: 0px;
    width: 100%;
    outline: none;
    padding-left: 32px;
    padding-right: 32%;
    box-sizing: border-box;

}

.main__search-box--button{
    width: 30%;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: none;
    height: 60px;
    cursor: pointer;
    color: white;
    background-color: #0066cc;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.main__weather-results-box{
    margin: 20px auto 0 auto;
    width: fit-content;
    height: 1px;
    display: flex;
    align-items: center;
}

#main__weather-results-icon{
    z-index: 5;
    width: 200px;
}

#main__weather-results-text{
    margin: auto;
    margin-left: 60px;
    font-size: 4rem;
    color: white;
}

.main__time-results-box{
    color: white;
    font-size: 2rem;
    margin: 20px 0 ;
    text-align: center;
}

@media all and (max-width: 900px) {

    .main__search-box--container{
        max-width: 500px;

    }
}

@media all and (max-width: 800px) {

    .main__search-box--container{
        max-width: 400px;
        text-align: center;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .main__search-box--input{
        height: 50px;
        font-size: 1.5rem;

    }

    .main__search-box--button{
        width: 60%;
        margin: 20px auto;
        border-radius: 40px;
        position: relative;
        height: 50px;
        text-align: center;
        font-size: 1.5rem;
        white-space: normal;
    }

    .main__weather-results-box{
        display: block;
    }

    #main__weather-results-icon{
        width: 100px;
    }
    #main__weather-results-text{
        font-size: 3rem;
    }

    #main__time-results{
        font-size: 2rem;
        padding: 10px;
    }

  }
  